body {
	background-color: rgb(252, 252, 252);
	color: rgb(64, 64, 64);
	font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
	text-align: justify;
	margin: 10px 10px 10px 10px;
}

A:link {
	color: rgb(41, 128, 185);
	text-decoration: none;
}

A:visited {
	text-decoration: none;
	color: rgb(155, 89, 182);
}

A:active {
	text-decoration: none;
	color: rgb(41, 128, 185);
}

A:hover {
	text-decoration: underline;
	color: rgb(48, 145, 209);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
	font-weight: 700;
	margin-top: 0;
}

p {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	margin-bottom: 24px;
}

table {
	border-color: rgb(225, 228, 229);
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
}

tt {
	background-color: rgb(255, 255, 255);
	color: rgb(80, 80, 80);
	padding: 5px;
	white-space: -moz-pre-wrap !important;
}

pre {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(225, 228, 229);
	display: block;
	font-size: 12px;
	font-family: "Incosolata", "Consolata", "Monaco", monospace;
	line-height: 1.5;
	margin: 1px 0px 24px 0px;
	overflow: auto;
	padding: 12px 12px;
	white-space: pre;
}